<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menú</title>
	<link rel="stylesheet" href="../Css/index_style.css">
</head>
<body>
	
	<div class="h">
		<h1 >Cáritas Colima</h1>
	</div>

	<div id="titulo">
		<p id="header">Menú Princial</p>
		<p id="subheader">Bienvenido, ¿Qué desea hacer?</p>	
	</div>

	
	<header>
		
		<div class="contenedor" id="uno">
			<img class="icon" src="../Pictures/icon1.png">
			<p class="texto">Grupos</p>
		</div>

		<div class="contenedor" id="dos">
			<img class="icon" src="../Pictures/icon2.png">
			<p class="texto">Actividades</p>
		</div>

		<div class="contenedor" id="tres">
			<img class="icon" src="../Pictures/icon3.png">
			<p class="texto" >Reportes</p>
			
		</div>

		<a href="">
		<div class="contenedor" id="cuatro">
			<img class="icon" src="../Pictures/icon4.png">
			<p class="texto" >Contacto</p>
		</div>
	</a>

		<div class="contenedor" id="cinco">
			<img class="icon" src="../Pictures/icon5.png">
			<p class="texto">Agregar usuario</p>
		</div>

		<div class="contenedor" id="seis">
			<img class="icon" src="../Pictures/icon6.png">
			<p class="texto">Acerca de</p>
		</div>

	</header>

	

</body>
</html>
