<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Menú Principal</title>
		<link rel="stylesheet" href="../css/index_style.css">
		
	</head>

	<body>

		<div class="h">
			<h1 >Cáritas Colima</h1>
		</div>


		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


		<div id="titulo">
			<p id="header">Menú Princial</p>
			<p id="subheader">Bienvenido, ¿Qué desea hacer?</p>
		</div>

		<header>

			<div class="contenedor" id="uno">
				<img class="icon" src="../Pictures/icon1.png">
				<p class="texto">Grupos</p>
			</div>

			<div class="contenedor" id="dos">
				<img class="icon" src="../Pictures/icon2.png">
				<p class="texto">Actividades</p>
			</div>

			<div class="contenedor" id="tres">
				<img class="icon" src="../Pictures/icon3.png">
				<p class="texto" >Reportes</p>

			</div>

			<a href="">
			<div class="contenedor" id="cuatro">
				<img class="icon" src="../Pictures/icon4.png">
				<p class="texto" >Contacto</p>
			</div>
		</a>

			<div class="contenedor" id="cinco">
				<img class="icon" src="../Pictures/icon5.png">
				<p class="texto">Agregar usuario</p>
			</div>

			<div class="contenedor" id="seis">
				<img class="icon" src="../Pictures/icon6.png">
				<p class="texto">Acerca de</p>
			</div>

		</header>

	</body>
</html>
