<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Caritas</title>
		<link rel="stylesheet" href="css/estiloin.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	</head>

	<body>
		<div class="loginBox">
			<img src="Img/LogoC.png" class="user">
			<h2>Inicio de Sesi칩n</h2>
				<form action="/var" method="POST">
					<p>Usuario</p>
					<input type="text" name="us" id="us" placeholder="Usuario">
					<p>Contrase침a</p>
					<input type="password" name="pass" id="pass" placeholder="Contrase침a">
					<input type="submit" name="inic" value="Iniciar Sesi칩n">
				</form>

		</div>
	</body>
</html>